- Does typical time of service differ for different eligibility categories?


- Diagnosed condition

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
eco_21_22_exit = pd.read_excel("../Data/TEIS-NSS Project Data 10-2022.xlsx", sheet_name="ECO with Exit21-22")
eco_21_22_exit.head()

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0

In [3]:
eco_21_22_data = pd.read_excel("../Data/TEIS-NSS Project Data 10-2022.xlsx", sheet_name="2021-22_ECO Data")
eco_21_22_data.head()

,District,Child ID #,TEIS Eligibility Date,Initial IFSP Date,Exit Date,ECO Entry Date,ECO1,ECO2,ECO3,Exit IFSP Date,ECO Exit Date,Exit ECO1,ECO1 Progress,Exit ECO2,ECO2 Progress,Exit ECO3,ECO3 Progress,Lookup Exit
0,SC,427432,01/02/2018,01/24/2018,11/15/2018,01/24/2018,6,5,7,07/12/2018,07/12/2018,6,Yes,5,Yes,6,Yes,NaN
1,SC,425476,01/02/2018,01/08/2018,08/09/2020,01/28/2018,1,2,1,06/09/2020,06/22/2020,3,Yes,3,Yes,4,Yes,NaN
2,MD,451929,01/02/2019,01/17/2019,02/13/2020,01/17/2019,2,4,2,08/29/2019,07/30/2019,3,Yes,5,Yes,1,Yes,NaN
3,ET,450907,01/02/2019,01/11/2019,11/27/2019,01/11/2019,2,1,3,07/01/2019,06/14/2019,3,Yes,2,Yes,3,Yes,NaN
4,SC,450086,01/02/2019,01/08/2019,08/31/2020,01/08/2019,5,1,1,01/09/2020,01/09/2020,4,Yes,3,Yes,4,Yes,NaN

In [4]:
eco_21_22_elig = pd.read_excel("../Data/TEIS-NSS Project Data 10-2022.xlsx", sheet_name="Elig Timeline Rpt 2018-2022")
eco_21_22_elig.head()

,District,Child ID,Child Status,Child Phase,Init. IFSP Due Date,IFSP Due Date,IFSP Late Reason,Active Ref. Date,Parent Consent/Intake Date,Date Dev. Evaluator Rec'd. Ref.,...,# Days Parent Consent to Dev. Eval.,# Days Dev. Evaluator Assigned to Dev. Eval.,1st Date Requested to Receipt of Med. Records,# Days Dev. Eval. to Elig. Det.,# Days Ref. to Elig. Det.,Init. Elig. Decision,Init. Elig. Category,Init. Elig. Det. Date,Exit Date,Exit Reason
0,ET,453926,Inactive,IFSP,2019-03-04,2019-03-27,System,2019-01-18,2019-02-04,2019-01-22 00:00:00,...,17.0,30.0,NaN,4.0,38.0,Eligible,Developmental Evaluation,2019-02-25,2020-01-11,618 - Part B eligible
1,ET,431729,Inactive,IFSP,2018-10-26,2018-10-26,NaN,2018-09-11,2018-09-25,2018-09-12 00:00:00,...,0.0,13.0,NaN,6.0,20.0,Eligible,"Diagnosed Condition, Developmental Evaluation",2018-10-01,2020-12-11,618 - Part B eligibility not determined
2,ET,462474,Inactive,IFSP,2019-06-28,2019-06-14,NaN,2019-05-14,2019-05-30,2019-05-15 00:00:00,...,0.0,15.0,0.0,1.0,17.0,Eligible,Developmental Evaluation,2019-05-31,2020-11-12,618 - Part B eligibility not determined
3,ET,446841,Inactive,Eligibility,2018-11-23,NaT,NaN,2018-10-09,2018-10-25,2018-10-11 00:00:00,...,0.0,14.0,NaN,1.0,17.0,Eligible,Diagnosed Condition,2018-10-26,2020-08-12,Parent decline
4,ET,459629,Inactive,IFSP,2019-05-16,2019-04-24,NaN,2019-04-01,2019-04-10,2019-04-02 00:00:00,...,0.0,8.0,0.0,2.0,11.0,Eligible,Developmental Evaluation,2019-04-12,2019-09-26,618 - Parent withdraw

In [5]:
eco_21_22_elig_drop = eco_21_22_elig.drop('Child Phase', 1)
eco_21_22_elig_drop.head()

/var/folders/hj/slktxjb979dd9qlhgnn25dlm0000gn/T/ipykernel_2139/393113397.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  eco_21_22_elig_drop = eco_21_22_elig.drop('Child Phase', 1)

,District,Child ID,Child Status,Init. IFSP Due Date,IFSP Due Date,IFSP Late Reason,Active Ref. Date,Parent Consent/Intake Date,Date Dev. Evaluator Rec'd. Ref.,Date Assigned to Dev. Evaluator,...,# Days Parent Consent to Dev. Eval.,# Days Dev. Evaluator Assigned to Dev. Eval.,1st Date Requested to Receipt of Med. Records,# Days Dev. Eval. to Elig. Det.,# Days Ref. to Elig. Det.,Init. Elig. Decision,Init. Elig. Category,Init. Elig. Det. Date,Exit Date,Exit Reason
0,ET,453926,Inactive,2019-03-04,2019-03-27,System,2019-01-18,2019-02-04,2019-01-22 00:00:00,2019-01-22 00:00:00,...,17.0,30.0,NaN,4.0,38.0,Eligible,Developmental Evaluation,2019-02-25,2020-01-11,618 - Part B eligible
1,ET,431729,Inactive,2018-10-26,2018-10-26,NaN,2018-09-11,2018-09-25,2018-09-12 00:00:00,2018-09-12 00:00:00,...,0.0,13.0,NaN,6.0,20.0,Eligible,"Diagnosed Condition, Developmental Evaluation",2018-10-01,2020-12-11,618 - Part B eligibility not determined
2,ET,462474,Inactive,2019-06-28,2019-06-14,NaN,2019-05-14,2019-05-30,2019-05-15 00:00:00,2019-05-15 00:00:00,...,0.0,15.0,0.0,1.0,17.0,Eligible,Developmental Evaluation,2019-05-31,2020-11-12,618 - Part B eligibility not determined
3,ET,446841,Inactive,2018-11-23,NaT,NaN,2018-10-09,2018-10-25,2018-10-11 00:00:00,2018-10-11 00:00:00,...,0.0,14.0,NaN,1.0,17.0,Eligible,Diagnosed Condition,2018-10-26,2020-08-12,Parent decline
4,ET,459629,Inactive,2019-05-16,2019-04-24,NaN,2019-04-01,2019-04-10,2019-04-02 00:00:00,2019-04-02 00:00:00,...,0.0,8.0,0.0,2.0,11.0,Eligible,Developmental Evaluation,2019-04-12,2019-09-26,618 - Parent withdraw

In [6]:
eco_21_22_elig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67610 entries, 0 to 67609
Data columns (total 38 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   District                                          67610 non-null  object
 1   Child ID                                          67610 non-null  int64
 2   Child Status                                      67610 non-null  object
 3   Child Phase                                       67610 non-null  object
 4   Init. IFSP Due Date                               67610 non-null  datetime64[ns]
 5   IFSP Due Date                                     33237 non-null  datetime64[ns]
 6   IFSP Late Reason                                  4780 non-null   object
 7   Active Ref. Date                                  67610 non-null  datetime64[ns]
 8   Parent Consent/Intake Date                        49210 non-null  datetime64[ns]
 9   Date Dev. Evaluator Rec'd. Ref.                   62074 non-null  object
 10  Date Assigned to Dev. Evaluator                   62074 non-null  object
 11  Dates Dev. Evaluator Attempted to Contact Family  55645 non-null  object
 12  Date Dev. Evaluator Actually Contacted Family     50163 non-null  object
 13  Dates Med. Records Requested                      33866 non-null  object
 14  Date Med. Records Rec'd                           36456 non-null  object
 15  Date Med. Records Entered                         36521 non-null  object
 16  TEIS Vision Screening Form?                       67610 non-null  object
 17  TEIS Hearing Screening Form?                      67610 non-null  object
 18  Date Initial Dev. Eval. Completed                 49942 non-null  object
 19  Motor DQ                                          23047 non-null  float64
 20  Cognitive DQ                                      23042 non-null  float64
 21  Communication  DQ                                 23043 non-null  float64
 22  Self Help DQ                                      23039 non-null  float64
 23  Social/Emotional DQ DQ                            23036 non-null  float64
 24  # Days Ref. to Init. Contact                      55641 non-null  float64
 25  # Days Ref. to Actual Contact                     50163 non-null  float64
 26  # Days Ref. to Dev. Evaluator Ref. Rec'd          62074 non-null  float64
 27  # Days Ref. to Completion of Dev. Eval.           49942 non-null  float64
 28  # Days Parent Consent to Dev. Eval.               48899 non-null  float64
 29  # Days Dev. Evaluator Assigned to Dev. Eval.      47014 non-null  float64
 30  1st Date Requested to Receipt of Med. Records     32340 non-null  float64
 31  # Days Dev. Eval. to Elig. Det.                   49148 non-null  float64
 32  # Days Ref. to Elig. Det.                         49151 non-null  float64
 33  Init. Elig. Decision                              67610 non-null  object
 34  Init. Elig. Category                              38290 non-null  object
 35  Init. Elig. Det. Date                             49151 non-null  datetime64[ns]
 36  Exit Date                                         59456 non-null  datetime64[ns]
 37  Exit Reason                                       59456 non-null  object
dtypes: datetime64[ns](6), float64(14), int64(1), object(17)
memory usage: 19.6+ MB

In [7]:
eco_21_22_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21169 entries, 0 to 21168
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   District               21169 non-null  object
 1   Child ID #             21169 non-null  int64
 2   TEIS Eligibility Date  21169 non-null  object
 3   Initial IFSP Date      21169 non-null  object
 4   Exit Date              20945 non-null  object
 5   ECO Entry Date         21169 non-null  object
 6   ECO1                   21169 non-null  int64
 7   ECO2                   21169 non-null  int64
 8   ECO3                   21169 non-null  int64
 9   Exit IFSP Date         20800 non-null  object
 10  ECO Exit Date          21169 non-null  object
 11  Exit ECO1              21169 non-null  int64
 12  ECO1 Progress          21169 non-null  object
 13  Exit ECO2              21169 non-null  int64
 14  ECO2 Progress          21169 non-null  object
 15  Exit ECO3              21169 non-null  int64
 16  ECO3 Progress          21169 non-null  object
 17  Lookup Exit            0 non-null      float64
dtypes: float64(1), int64(7), object(10)
memory usage: 2.9+ MB

In [8]:
eco_21_22_exit.isna().sum()

DISTRICT                                   3
CHILD_ID                                   4
ECO_Entry_DATE                          2915
Ent SOCIAL_SCALE                        2915
Ent KNOWLEDGE_SCALE                     2915
Ent APPROPRIATE_ACTION_SCALE            2915
ECO_Exit_DATE                           2915
Exit SOCIAL_SCALE                       2915
Exit KNOWLEDGE_SCALE                    2915
Exit APPROPRIATE_ACTION_SCALE           2915
ExitIS_SOCIAL_PROGRESS                  2915
ExitIS_KNOWLEDGE_PROGRESS               2915
ExitIS_APPROPRIATE_ACTION_PROGRESS      2915
Initial IFSP Date                          4
Exit Reason                                4
Exit Date                                  4
<Lookup> Expected Rating                   4
<Calc> Months in Program                   4
<Calc> Entrance Age (months)               4
<Calc> Day count                        2915
<Calc> Month count                      2915
<Calc> Missing Entrance Date            5725
<Calc> Missing Exit Dates               5725
<Calc> Missing Both Ent & Exit Dates    5725
<Calc> Record Count                        4
<Calc> Day count 182 days +             1830
<Calc> Exit Day cnt < 182 days          6135
OC1 Missing Exit Rating                 5725
OC2 Missing Exit Rating                 5725
OC3 Missing Exit Rating                 5725
OC1 Not Expected                        8155
OC2 Not Expected                        8155
OC3 Not Expected                        8155
<Calc> Day count less than 182          6135
OC1 Useable Data                        3041
OC2 Useable Data                        3041
OC3 Useable Data                        3041
Usable Data on at least one Outcome     3041
Usable Data on All 3 Outcomes           3041
OC1 - a                                 8616
OC1 - b                                 7195
OC1 - c                                 7222
OC1 - d                                 6794
OC1 - e                                 7758
OC1 Data Check                             4
OC2 - a                                 8607
OC2 - b                                 6003
OC2 - c                                 7620
OC2 - d                                 7274
OC2 - e                                 8081
OC2 Data Check                             4
OC3 - a                                 8622
OC3 - b                                 7206
OC3 - c                                 7820
OC3 - d                                 6876
OC3 - e                                 7061
OC3 Data Check                             4
Days btw Initial and Exit                  4
Days btw I-IFSP to Exit ECO                4
Days btw I-IFSP to entry ECO               4
dtype: int64

In [9]:
#essential columns
eco_21_22_exit=eco_21_22_exit[['Days btw Initial and Exit', 'Days btw I-IFSP to entry ECO', 'DISTRICT', 'CHILD_ID']]
eco_21_22_exit.head()

   Days btw Initial and Exit  Days btw I-IFSP to entry ECO DISTRICT  CHILD_ID
0                      206.0                           0.0       ET  500335.0
1                      704.0                           0.0       ET  479453.0
2                      115.0                      -44483.0       ET  510663.0
3                     1053.0                           0.0       ET  452482.0
4                      159.0                      -44434.0       ET  506507.0

In [10]:
#change name
eco_21_22_exit = eco_21_22_exit.rename(columns={"Days btw Initial and Exit": "Initial and Exit", "Days btw I-IFSP to entry ECO" : "I-IFSP to entry ECO"})
eco_21_22_exit.head()

   Initial and Exit  I-IFSP to entry ECO DISTRICT  CHILD_ID
0             206.0                  0.0       ET  500335.0
1             704.0                  0.0       ET  479453.0
2             115.0             -44483.0       ET  510663.0
3            1053.0                  0.0       ET  452482.0
4             159.0             -44434.0       ET  506507.0

In [11]:
#remove nulls
eco_21_22_exit = eco_21_22_exit.dropna()
eco_21_22_exit.head()

   Initial and Exit  I-IFSP to entry ECO DISTRICT  CHILD_ID
0             206.0                  0.0       ET  500335.0
1             704.0                  0.0       ET  479453.0
2             115.0             -44483.0       ET  510663.0
3            1053.0                  0.0       ET  452482.0
4             159.0             -44434.0       ET  506507.0

In [13]:
#change datatypes
eco_21_22_exit = eco_21_22_exit.astype({'DISTRICT':'str', 'CHILD_ID':'int', 'Initial and Exit':'int', 'I-IFSP to entry ECO':'int'})
eco_21_22_exit.head()

   Initial and Exit  I-IFSP to entry ECO DISTRICT  CHILD_ID
0               206                    0       ET    500335
1               704                    0       ET    479453
2               115               -44483       ET    510663
3              1053                    0       ET    452482
4               159               -44434       ET    506507

In [16]:
#filtering out negives and 0
eco_21_22_exit = eco_21_22_exit[eco_21_22_exit['I-IFSP to entry ECO']>0]
eco_21_22_exit.head()

    Initial and Exit  I-IFSP to entry ECO DISTRICT  CHILD_ID
6                444                   90       ET    449725
11               836                   23       ET    473375
13               493                   32       ET    473208
16               234                   49       ET    491757
21               219                   68       ET    494701

In [19]:
# filtering =>180 days only 
eco_21_22_exit = eco_21_22_exit.loc[eco_21_22_exit['Initial and Exit']>180]
eco_21_22_exit.head()

    Initial and Exit  I-IFSP to entry ECO DISTRICT  CHILD_ID
6                444                   90       ET    449725
11               836                   23       ET    473375
13               493                   32       ET    473208
16               234                   49       ET    491757
21               219                   68       ET    494701

In [ ]:
#change name of 'int. Elig. Category' columns

In [ ]:
#essental columns from 'Elig Timeline'

In [ ]:
# Merge the eco_21_22_exit and eco_21_22_data dataframes